<div class="title">
    <span ng-if="$stateParams.id">EDIT DRIVER TYPE</span>
    <span ng-if="!$stateParams.id">CREATE DRIVER TYPE</span>
</div>

<form name="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="formData.name" required>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" ng-model="formData.type" required>
  </div>
  <div class="form-group">
    <label for="price_per_km_min">Price/Km Min</label>
    <input type="number" class="form-control" id="price_per_km_min" ng-model="formData.price_per_km_min" required>
  </div>
  <div class="form-group">
    <label for="price_per_km_max">Price/Km Max</label>
    <input type="number" class="form-control" id="price_per_km_max" ng-model="formData.price_per_km_max" required>
  </div>
  <div class="form-group">
    <label for="default_price_per_km">Price/Km Default</label>
    <input type="number" class="form-control" id="default_price_per_km" ng-model="formData.default_price_per_km" required>
  </div>


  <div class="form-group">
    <label for="open_door_price_min">Open Door Price Min</label>
    <input type="number" class="form-control" id="open_door_price_min" ng-model="formData.open_door_price_min" required>
  </div>
  <div class="form-group">
    <label for="open_door_price_max">Open Door Price Max</label>
    <input type="number" class="form-control" id="open_door_price_max" ng-model="formData.open_door_price_max" required>
  </div>
  <div class="form-group">
    <label for="default_open_door_price">Open Door Price Default</label>
    <input type="number" class="form-control" id="default_open_door_price" ng-model="formData.default_open_door_price" required>
  </div>

  <div class="form-group">
    <label for="is_activated">Status</label>
    <input type="checkbox" ng-model="formData.is_activated">
  </div>
  

  <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="saveAction(formData)">Submit</button>
</form>

