<div class="block">
    <div class="block-header">
        <ul class="block-options">
            <li class="dropdown">
                <button type="button" data-toggle="dropdown">{{filterDate.name}} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-click="changeFilter(filter)" ng-repeat="filter in filterRange">
                        <a tabindex="-1" href="javascript:void(0)">{{filter.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <h3 class="block-title">DASHBOARD</h3>
    </div>
    <div class="block-content bg-gray-lighter">
        <div class="row text-uppercase">
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> {{filterDate.name}}</small>
                        </div>
                        <div class="font-s12 font-w700">New Driver</div>
                        <a class="h2 font-w300 text-primary">{{total.vehicle}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> {{filterDate.name}}</small>
                        </div>
                        <div class="font-s12 font-w700">New User</div>
                        <a class="h2 font-w300 text-primary">{{total.user}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> Today</small>
                        </div>
                        <div class="font-s12 font-w700">Earnings</div>
                        <a class="h2 font-w300 text-primary" href="base_comp_charts.html" data-toggle="countTo" data-to="148000" data-before="$">$148000</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> Today</small>
                        </div>
                        <div class="font-s12 font-w700">Average Sale</div>
                        <a class="h2 font-w300 text-primary" href="base_comp_charts.html" data-toggle="countTo" data-to="299" data-before="$">$299</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
