<div class="block">
    <div class="block-header">
        <ul class="block-options">
            <li class="dropdown">
                <button type="button" data-toggle="dropdown">{{filterDate.name}} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-click="changeFilter(filter)" ng-repeat="filter in filterRange">
                        <a tabindex="-1" href="javascript:void(0)">{{filter.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <h3 class="block-title">DASHBOARD</h3>
    </div>
    <div class="block-content bg-gray-light">
        <div class="row text-uppercase">
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> {{filterDate.name}}</small>
                        </div>
                        <div class="font-s12 font-w700">New Driver</div>
                        <a class="h2 font-w300 text-primary">{{total.vehicle}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> {{filterDate.name}}</small>
                        </div>
                        <div class="font-s12 font-w700">New User</div>
                        <a class="h2 font-w300 text-primary">{{total.user}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> Total</small>
                        </div>
                        <div class="font-s12 font-w700">InActivated Drivers</div>
                        <a class="h2 font-w300 text-primary">{{total.inactivated_driver}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <div class="text-muted">
                            <small><i class="si si-calendar"></i> Total</small>
                        </div>
                        <div class="font-s12 font-w700">Activated Drivers</div>
                        <a class="h2 font-w300 text-primary">{{total.activated_driver}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <!-- Top Products -->
                <div class="block block-opt-refresh-icon4">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Top Rating Drivers</h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-striped table-vcenter">
                            <tbody>
                            <tr data-ng-repeat="item in top_rating_driver">
                                <td><a href="javascript:void(0)">{{item.first_name}}</a></td>
                                <td><strong>{{item.rating.total}}</strong></td>
                                <td class="hidden-xs text-center">
                                    <div class="text-warning">
                                        <span data-ng-repeat="icon in item.rating_range">
                                            <i ng-if="icon >= 1" class="fa fa-star"></i>
                                            <i ng-if="icon < 1" class="fa fa-star-half-o"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Top Products -->
            </div>
            <div class="col-lg-6">
                <!-- Latest Orders -->
                <div class="block block-opt-refresh-icon4">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Top Rating Trip</h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-striped table-vcenter">
                            <tbody>
                            <tr data-ng-repeat="item in top_rating_trip">
                                <td class="text-center" style="width: 300px;">
                                    <div class="label label-default" style="line-height: normal;display: block;white-space: normal;margin-bottom: 5px;">
                                        {{item.pickup_location_address}}
                                    </div>
                                    <div class="label label-success" style="line-height: normal;display: block;white-space: normal;">
                                        {{item.complete_location_address}}
                                    </div>
                                </td>


                                <td class="hidden-xs text-center">
                                    <div class="text-warning">
                                        <span data-ng-repeat="icon in item.rating_range">
                                            <i ng-if="icon >= 1" class="fa fa-star"></i>
                                            <i ng-if="icon < 1" class="fa fa-star-half-o"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
    </div>
</div>
