<div class="title">
    <span ng-if="$stateParams.id">EDIT USER</span>
    <span ng-if="!$stateParams.id">CREATE USER</span>
</div>

<form name="form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" ng-model="formData.email">
  </div>
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" ng-model="formData.first_name">
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" ng-model="formData.last_name">
  </div>

  <div class="form-group">
    <label for="last_name">Gender</label>
    <div class="radio">
        <label>
            <input type="radio" value="0" ng-model="formData.gender">
            Male
        </label>
        </div>
        <div class="radio">
        <label>
            <input type="radio" value="1" ng-model="formData.gender">
            Female
        </label>
    </div>
  </div>

  <div class="form-group">
    <label for="last_name">Type</label>
    <div class="radio">
        <label>
            <input type="radio" value="rider" ng-model="formData.type">
            Rider
        </label>
        </div>
        <div class="radio">
        <label>
            <input type="radio" value="driver" ng-model="formData.type">
            Drivers
        </label>
    </div>
  </div>
  
  
  <button type="submit" class="btn btn-primary" ng-click="saveAction(formData)">Submit</button>
</form>