<div class="block-header bg-gray-lighter" style="margin-bottom: 20px;">
  <div class="block-title text-center">
    <span ng-if="$stateParams.id">EDIT DRIVER</span>
    <span ng-if="!$stateParams.id">CREATE DRIVER</span>
  </div>
</div>

<div class="row">
  <form name="form" class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" disabled ng-value="userData.email">
      </div>
      <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" disabled ng-value="userData.phone">
      </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="formData.name" required>
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" class="form-control" id="brand" ng-model="formData.brand" required>
    </div>

    <div class="form-group">
      <label for="price_per_km">Price Per Km</label>
      <input type="number" class="form-control" id="price_per_km" ng-model="formData.price_per_km" required>
    </div>

    <div class="form-group">
      <label for="open_door_price">Open Door Price</label>
      <input type="number" class="form-control" id="open_door_price" ng-model="formData.open_door_price" required>
    </div>

    <div class="form-group">
      <label for="is_available">Status</label>
      <label class="css-input switch switch-sm switch-primary" for="is_available">
          <input type="checkbox" id="is_available" ng-model="formData.is_available">
          <span></span>
    </label>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select name="type" id="type" class="form-control" required ng-model="formData.vehicle_type_id" ng-options="item._id as item.name for item in driverTypes">
          <option value="">--Select--</option>
      </select>
    </div>

    <div class="form-group text-center">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="saveAction(formData)">Submit</button>
      <button type="button" class="btn btn-default" ng-click="cancelAction()">Cancel</button>

    </div>

  </form>
</div>
